.ListItems {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ListItems li {
    border-bottom: 1px solid #E1E4E7;
    list-style-type: none;
    height: 3rem;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    transition: background-color .15s ease-in-out;
}

.ListItems li p {
    display: inline-block;
    margin-left: 1rem;
}

.TodoInput {
    margin: 0 1rem;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: rgba(255,255,255,0);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.TodoInput:focus {
    outline: none;
}

.ListItems li .DoneItem {
    text-decoration: line-through;
    color: #E1E4E7;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.CheckIcon path {
   fill: #00F5E4; 
   transition: fill .2s ease-in-out;
}

li .CheckIcon:hover path {
    fill: #02CFB0; 
}

.CheckIcon:hover,
.DeleteIcon:hover,
.BackIcon:hover {
    cursor: pointer;
}

.DoneItems .BackIcon path,
.DoneItems .BackIcon:hover path {
    fill: #E1E4E7;
}

.ListItems li:hover {
    background-color: #FBFBFB;
}

.DeleteIcon {
    font-size: 0.7rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.DeleteLink {
    margin-left: auto;
}

.ListItems li:hover .DeleteIcon {
    visibility: visible;
    opacity: 1;
}

.DeleteIcon path {
    fill: #E1E4E7;
    transition: fill .2s ease-in-out;
}

.DeleteIcon:hover path {
    fill: #737475;
}